<nav class="text-white fixed top-0 w-full shadow-5 bg-blue-900 grid flex-initial flex align-items-center justify-content-center">
  <div class="col-3">
    <p class="text-6xl customfont mt-2 mb-2">ProdHub</p>
  </div>
  <div class="col-6">

  </div>
  <div class="col-3">
    <div class="grid">
      <div class="col-5">
        <p-button label="Register" styleClass="text-2xl text-white p-button-text" [routerLink]="['/register']"></p-button>
      </div>
      <div class="col-1 "></div>
      <div class="col-5 grid-nogutter">
        <p-button label="Login" styleClass="text-2xl text-white p-button-text" [routerLink]="['/login']"></p-button>
      </div>
    </div>
  </div>

</nav>

      <div class="pt-6 grid text-white bg-bluegray-600 h-screen w-screen flex justify-content-center">
        <div class="col-2"></div>
        <div class="col-8 pt-6 flex align-items-center flex-column">

          <p-card class="pt-6" [style]="{width : '100%'}">

            <form [formGroup]="f" (ngSubmit)="submit()">
              <div>

                <h2 class="mt-0 mb-4 text-6xl customfont">Log in!</h2>

                <div class="mb-2">
                  <span>
                    <input class="outline-none text-xl px-1 py-2" pInputText id="username" formControlName="username" placeholder="Username">
                  </span>
                </div>
                <div class="mb-2">
                  <p-password formControlName="password" [toggleMask]="true"></p-password>
                </div>
              </div>
              <div>
                <p-button type="submit" [disabled]="!f.valid" label="Log in!"></p-button>
              </div>
              <p>Don't have an account yet? <a [routerLink]="['/register']">Register!</a></p>
            </form>
          </p-card>

        </div>
        <div class="col-2"></div>

      </div>
      <footer class="text-white fixed bottom-0 w-full bg-blue-900 shadow-5 grid flex align-items-center">
        <div class="col-2"></div>


        <div class="col-8 flex justify-content-center">

          <h1>Made with love</h1>

        </div>


        <div class="col-2"></div>
      </footer>
