<div class="text-white">
<div class="bg-bluegray-800 shadow-5 grid flex-initial flex align-items-center">
  <nav class="">
    <div class="col-12">
      <p class="text-6xl customfont ml-2 mt-2 mb-2">ProdHub</p>
    </div>
  </nav>
</div>
<div class="mt-1 grid flex align-items-center">
  <div class="col-2"></div>


  <div class="col-8">

    <input type="file" (change)="fileSelect($event)">

  </div>


  <div class="col-2"></div>
</div>

<footer class="mt-5 bg-bluegray-800 shadow-5">
  <div class="col-2"></div>


  <div class="col-8">



  </div>


  <div class="col-2"></div>
</footer>
</div>
