<nav class="text-white fixed top-0 w-full shadow-5 bg-blue-900 grid flex-initial flex align-items-center justify-content-center">
  <div class="col-12">
    <p class="text-6xl customfont ml-4 mt-2 mb-2">ProdHub</p>
  </div>
</nav>

<div class="mt-6 grid text-white bg-bluegray-300 h-screen w-screen">

  <div class="col-2"></div>
  <div class="col-8 mt-4">
    <h2>Welcome {{username}}</h2>
  </div>
  <div class="col-2"></div>
</div>
<footer class="text-white fixed bottom-0 w-full bg-blue-900 shadow-5 grid flex align-items-center">
  <div class="col-2"></div>


  <div class="col-8 flex justify-content-center">

    <h1>Made with love</h1>

  </div>


  <div class="col-2"></div>
</footer>

