*{
  text-align: center;
}

@font-face {
  font-family: 'Sedgwick Ave Display';
  src: url('../../../../../assets/fonts/SedgwickAveDisplay-Regular.woff2') format('woff2'),
      url('../../../../../assets/fonts/SedgwickAveDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.customfont{
 font-family: "Sedgwick Ave Display", cursive;
}

