<nav class="text-white fixed top-0 w-full shadow-5 bg-blue-900 grid flex flex-wrap">
  <div class="col-12">
    <p class="text-6xl customfont mt-3 mb-3">ProdHub</p>
  </div>
</nav>

<div class="pt-6 grid text-white bg-bluegray-100 h-screen w-screen flex justify-content-center">
      <div class="col-2"></div>
      <div class="col-8 pt-6 flex align-items-center flex-column">

        <p-card class="pt-6" [style]="{width : '100%'}">


          <form class="flex align-items-center flex-column" [formGroup]="f" (ngSubmit)="register()">
            <div>

              <h1 class="mt-0 mb-4 text-6xl customfont">Registration</h1>

              <div class="mb-2">
                <span>
                  <input class="outline-none text-xl px-1 py-2" pInputText id="name" formControlName="name" placeholder="Name">
                </span>
              </div>
              <div class="mb-2">
                <span>
                  <input class="outline-none text-xl px-1 py-2" pInputText id="username" formControlName="username" placeholder="Username">
                </span>
              </div>
              <div class="mb-2">
                <span>
                  <input class="outline-none text-xl px-1 py-2" pInputText id="email" formControlName="email" placeholder="Email">
                </span>
              </div>
              <div class="mb-2">
                <span>
                  <p-password formControlName="password" [toggleMask]="true"></p-password>
                </span>
              </div>
            </div>
            <div>
              <p-button type="submit" [disabled]="!f.valid" label="Register!"></p-button>
            </div>
            <p>Already have an account? <a [routerLink]="['/login']">Log in!</a></p>
          </form>

        </p-card>

      </div>
      <div class="col-2"></div>

</div>
<footer class="text-white fixed bottom-0 w-full bg-blue-900 shadow-5 grid flex align-items-center">
      <div class="col-2"></div>


      <div class="col-8 flex justify-content-center">

        <h1>Made with love</h1>

      </div>


      <div class="col-2"></div>
</footer>
