  <nav class="text-white fixed top-0 w-full shadow-5 bg-blue-900 grid flex-initial flex align-items-center justify-content-center">
    <div class="col-3">
      <p class="text-6xl customfont ml-4 mt-2 mb-2">ProdHub</p>
    </div>
    <div class="col-6">

    </div>
    <div class="col-3">
      <div class="grid">
        <div class="col-5">
          <p-button label="Register" styleClass="text-2xl text-white p-button-text" [routerLink]="['/register']"></p-button>
        </div>
        <div class="col-1 "></div>
        <div class="col-5 grid-nogutter">
          <p-button label="Login" styleClass="text-2xl text-white p-button-text" [routerLink]="['/login']"></p-button>
        </div>
      </div>
    </div>

  </nav>

  <div class="mt-6 grid text-white bg-bluegray-300 h-screen w-screen">

    <div class="col-2"></div>
    <div class="col-8 mt-6">


      <div class="mt-6" *ngIf="data">
        <ul>
          <li *ngFor="let file of data.content">
            <p>Name: {{file.fileName}}</p>
            <p>Type: {{file.fileType}}</p>
          </li>
        </ul>
      </div>


    </div>
    <div class="col-2"></div>

  </div>
  <footer class="text-white fixed bottom-0 w-full bg-blue-900 shadow-5 grid flex align-items-center">
    <div class="col-2"></div>


    <div class="col-8 flex justify-content-center">

      <h1>Made with love</h1>

    </div>


    <div class="col-2"></div>
  </footer>
