  <nav class="text-white fixed top-0 w-full shadow-5 bg-blue-900 grid flex-initial flex align-items-center justify-content-center">
    <div class="col-3">
      <p class="text-6xl customfont ml-4 mt-3 mb-3">ProdHub</p>
    </div>
    <div class="col-6">

    </div>
    <div class="col-3">
      <div class="grid">
        <div class="col-5">
          <p-button label="Register" styleClass="text-2xl text-white p-button-text" [routerLink]="['/register']"></p-button>
        </div>
        <div class="col-1 "></div>
        <div class="col-5 grid-nogutter">
          <p-button label="Login" styleClass="text-2xl text-white p-button-text" [routerLink]="['/login']"></p-button>
        </div>
      </div>
    </div>

  </nav>

  <div class="mt-6 grid text-white h-screen w-screen bg-bluegray-100">

    <div class="col-2"></div>
    <div class="col-8 mt-6 bg-bluegray-300 shadow-8 border-2 border-solid border-black-alpha-90">


      <div class="text-center border-3 border-round-xl m-2">
        <div class=" my-8">
          <h2 class="customfont text-6xl pr-8">Welcome to ProdHub</h2>
          <p class="customfont text-4xl pl-8">The GitHub of music producers</p>
        </div>
      </div>


      <div class="ml-3 my-5" *ngIf="data.content && data.content.length == 0">
        <p class="text-4xl">Oh no... purtroppo non ci sono file pubblici da mostrare...</p>
      </div>


      <div class="mt-6" *ngIf="data.content && data.content.length > 0">
        <p class="ml-3 my-5 text-4xl">Ecco i file pubblici che sono stati pubblicati...</p>
        <table class="flex flex-column mt-4  shadow-2" >
          <tr class="text-4xl flex justify-content-around mb-5 shadow-1">
            <th>Public files</th>
            <th>Name</th>
            <th>Type</th>
          </tr>
          <tr class="flex justify-content-around text-3xl mb-4" *ngFor="let file of data.content">
            <td><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-disc" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 4a4 4 0 0 0-4 4 .5.5 0 0 1-1 0 5 5 0 0 1 5-5 .5.5 0 0 1 0 1zm4.5 3.5a.5.5 0 0 1 .5.5 5 5 0 0 1-5 5 .5.5 0 0 1 0-1 4 4 0 0 0 4-4 .5.5 0 0 1 .5-.5z"/>
            </svg></td>
            <td>{{ file.fileName }}</td>
            <td>{{ file.fileType }}</td>
          </tr>
        </table>
      </div>


    </div>
    <div class="col-2"></div>

  </div>
  <footer class="text-white fixed bottom-0 w-full bg-blue-900 shadow-5 grid flex align-items-center">
    <div class="col-2"></div>


    <div class="col-8 flex justify-content-center">

      <h1>Made with love</h1>

    </div>


    <div class="col-2"></div>
  </footer>
